* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {margin: 0;}

/*h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}*/

h2 {text-align: center;color:black;}
span {font-weight:bold}

/*Flex*/

.container {
    width: 1100px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-wrap { flex-wrap: wrap }
.flex-d-c { flex-direction: column }

/*Margins & Paddings*/

.margin-r-10 {margin-right: 10px;}
.margin-t-10 {margin-top: 10px;}
.margin-t-15 {margin-top: 15px;}
.margin-t-50 {margin-top: 50px;}
.margin-l-10 {margin-left: 10px}
.margin-b-10 { margin-bottom: 10px }
.margin-15 { margin: 15px }
.margin-t-300 {margin-top: 300px;}
.margin-t-100 {margin-top: 100px;}

/*Navigation*/

.header .logo {
    height: 50px;
    width: auto;
    
}

.nav-link {
    text-decoration: none;
    padding: 1em;
    color: grey;
    font-weight: bold;
}

.nav-link:hover {
    background-color:rgb(165, 192, 166);
    color:black;
}

.nav-button {
    text-decoration: none;
    color: aliceblue;
    border: none;
    display: inline-block;
    background-color:#4CAF50;
    font-size: 14px;
    padding: 15px 32px;
    border-radius: 25px;
    margin-left: 80px
}

.nav-button:hover {
    background-color:grey;
    color:black;
}

.button1 {
    text-decoration: none;
    color:black;
    border: black;
    display: inline-block;
    background-color: white;
    font-size: 16px;
    padding: 15px 32px;
    border-radius: 25px;
    cursor: pointer;
}

.button1:hover {
    background-color:grey;
    color:black;
}
.top-main {
    background: url("waters.jpg")   ;
    background-repeat: no-repeat;
    height: 400px;
    background-size:100% 100%;
    margin-top: 10px;
    background-position: center;
    position: relative;
}

.top-header {
    color: white;
    text-align: center;
    padding-top: 100px;
}

.button {
    text-decoration: none;
    color: aliceblue;
    border: none;
    display: inline-block;
    background-color: #4CAF50;
    font-size: 16px;
    padding: 15px 32px;
    border-radius: 12px;
    margin-top: 80px
}

.button:hover {
    background-color:white;
    color:black;
}

.article-p {
    text-align: center;
    color: grey;
    padding: 0 50px;
    line-height: 25px
}

.logo-sun {
    height: 100px;
    display:block; 
    margin:0 auto;
      } 

.left-box {
    background-color: aquamarine;
    position: absolute;
    left: 0;
    width: 50%;
    height: 300px;   
}

.color-style-l {
    background-color: rgb(65, 172, 214);
    color: white;
}

.color-style-r {
    background-color: #4CAF50;
    color: white;
}
.right-box {
    background-color: rgb(226, 226, 226);
    position: absolute;
    right: 0;
    width: 50%;
    height: 300px;
}

.img-box1{
    float: left;
    height: 100px;
    width: auto;
}

.img-box2 {
    float: left;
    height: 100px;
    width: auto;
}

.top-post {
    width: 300px;
  }
  
  .post h2 {
    width: 1100px;
    text-align: center;
  }

  .post-button {
    text-decoration: none;
    color: aliceblue;
    border: none;
    display: inline-block;
    background-color: #4CAF50;
    font-size: 16px;
    padding: 15px 32px;
    border-radius: 25px;
}

.post-button:hover {
    background-color:rgb(152, 207, 211);
    color:black;
}
/*Lines*/
.line-h {line-height: 25px}

/*Footer*/
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 30px;
  }

.footer-img{
height: 80px;
padding: 1em;
  }
  .img {
    list-style-type: none;
    margin-left: 500px
  }

  .footer-line {text-align: center}
  